@charset "ISO-8859-1";

.error {
	color: red;
}

.button {
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 12px;
	font-weight: bold;
	width: 120px;  
	margin-top: 5px;
	margin-bottom: 5px;
}

.labeld {
	font-weight: bold;
}